li {
  font-weight: 500;
}

.button {
  border: 1.5px solid #FF3811;
  padding: 10px 30px;
  border-radius: 5px;
  color: #FF3811;
  font-weight: 500;
  font-size: 20px;
}

.button:hover {
  color: white;
  background-color: #FF3811;
}